<div class="content">
  <h1 class="header">
    Edit Contact
  </h1>
  <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
    <section>
      <nav>Name/Info</nav>
      <div>
        <input formControlName="firstName" placeholder="First Name"
          [class.error]="firstName.invalid && firstName.touched" />
        <em *ngIf="firstName.errors?.['minlength'] && firstName.touched">First name must be at least 3 characters</em>
        <em *ngIf="firstName.errors?.['required'] && firstName.touched">Please enter a First Name</em>
        <!-- 多种validator -->
        <!-- 实际用的时候，还很有逻辑，没有输入的时候required出现error，character就不出现 -->
        <input formControlName="lastName" placeholder="Last Name" />
        <input formControlName="dateOfBirth" type="date"
          [value]="contactForm.controls.dateOfBirth.value | date:'yyyy-MM-dd'" placeholder="Date of Birth" />
        <div>
          <span>Favorites Ranking</span>
          <input type="range" min="0" max="5" formControlName="favoritesRanking" placeholder="Favorites Ranking" />
          <span>{{contactForm.controls.favoritesRanking.value}}</span>
        </div>

        <div>
          <input type="checkbox" formControlName="personal">Personal
        </div>
      </div>
    </section>
    <section>
      <nav>Phone</nav>
      <div formGroupName="phone" class="flex-column">
        <div class="flex-group">
          <input placeholder="Phone" formControlName="phoneNumber" />
          <img src="/assets/plus-grey-blue.png" class="add" />
        </div>
        <div class="radio">
          <span *ngFor="let phoneType of phoneTypes">
            <input type="radio" [value]="phoneType.value" formControlName="phoneType"> {{phoneType.title}}
          </span>
        </div>
      </div>
    </section>
    <section>
      <nav>Address</nav>
      <div>
        <div class="address" formGroupName="address"
          [class.error]="contactForm.controls.address.invalid && contactForm.controls.address.dirty">
          <div class="flex-group">
            <input placeholder="Address" formControlName="streetAddress" />
            <img src="/assets/plus-grey-blue.png" class="add" />
          </div>
          <input placeholder="City" formControlName="city" />
          <input placeholder="State/Region" formControlName="state" />
          <input placeholder="Zip/Postal Code" formControlName="postalCode" />
          <select formControlName="addressType">
            <option *ngFor="let addressType of addressTypes" [value]="addressType.value">{{addressType.title}}</option>
          </select>
        </div>
        <em *ngIf="contactForm.controls.address.invalid && contactForm.controls.address.dirty">Incomplete Address</em>
        <!-- 进入没输入，再跳到下个input，touch会报错，dirty不会 -->
        <!-- 输入的时候，dirty会立即报错，touch不会，得到下一个input，才会 -->
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <div>
        <!-- 改变textarea状态用invalid，哪个validation错，都是一样的效果 -->
        <textarea [class.error]="notes.invalid" placeholder="Notes" rows="5" formControlName="notes"></textarea>
        <em *ngIf="notes.errors?.['restrictedWords']">Restrictd words found:{{notes.errors?.['restrictedWords']}}</em>
      </div>
    </section>
    <div class="buttons">
      <button class="secondary">Cancel</button>
      <button type="submit" class="primary" [disabled]="contactForm.invalid">Save</button>
    </div>
  </form>

</div>